.service_section {
    text-align: center;
    color: #383a90;
    background-color: white;
    background-size: 100% 100%;
    padding-top: 275px;
    padding-bottom: 125px;
    background-repeat: no-repeat;
    margin-top: -150px;
}

.welcome_section .custom_heading-container h2 {
    border-color: #f9fcfb;
    color: #383a90;
}

.welcome_section .service_container {
    color: #383a90;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.welcome_section .service_container .service_box {
    color: #383a90;
    width: 30%;
    min-width: 300px;
    margin: 35px 15px;
}

.welcome_section .service_container .service_box .img-box {
    border-radius: 18px;
    overflow: hidden;
}

.welcome_section .service_container .service_box .img-box img {
    width: 100%;
}

.welcome_section .service_container .service_box .detail-box {
    margin-top: 30px;
}

.welcome_section .service_container .service_box .detail-box h4 {
    font-weight: bold;
}

.welcome_section a {
    display: inline-block;
    padding: 12px 40px;
    background-color: #feb543;
    color: #f9fcfb;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.welcome_section a:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.sub_page .welcome_section {
    margin-top: 00px;
    margin-bottom: 150px;
}
